html,body {

  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;

}


h1 {
font-weight: 900;
font-family: "Geist", sans-serif;
background-color: lime;   
}

.card-heading {
background-color: red;
}
